<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="format-detection" content="telephone=no">
    <title>Chromebook Loaner Station Status - Admin View</title>
  </head>
  <body>
    <table>
      <tbody>
        {% for bay in bays: %}
        <tr>
            {% if not bay['locked']: %}
            <td title="Open">🟥</td>
            {% elif bay['offline']: %}
            <td title="Offline">⬛️</td>
            {% elif bay['assigned']: %}
            <td title="In Use">⬜️</td>
            {% else: %}
            <td title="Available">🟩</td>
            {% endif %}
          <td>
            {% if bay['assigned']: %}
            <a href="{{ url_for('show_bay', bayNumber=bay['bayNumber']) }}">{{bay['name']}}</a>
            {% else: %}
            {{bay['name']}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <p>Status current as of<br/>{{ timestamp.strftime("%Y-%m-%d %I:%M:%S %p") }}</p>
  </body>
</html>
