<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="format-detection" content="telephone=no">
    <title>Chromebook Station - {{bay['name']}}</title>
  </head>
  <body>
    <h1>{{bay['name']}}</h1>
    {% if user['id']: %}
    {{user['name']}} ({{user['stationCredentials']['pin']}})<br/>
    <a href="mailto:{{user['externalRefId']}}">{{user['externalRefId']}}</a><br/>
    {% else: %}
    No user associated.<br/>
    {% endif %}
    <a href="{{url_for('show_bays_admin')}}">⬅ Return to Admin</a>
  </body>
</html>
